img {
  width: 20vw;
}

h1 {
  text-align: center;
  color: #e4802e;
  background-color: #fff;
  font-size: 30px;
  font-family: Helvetica; sans-serif;
}

li {
  line-height: 15px;
  font-style: oblique;
  font-weight: bolder;
}
